.headline{
    /* background-color: violet; */
    font-family: sans-serif;
}

#vizContainer{
    /* background-color: tomato; */
    width: 100%;
    /* height: 100px; */
}

.bar{
    height: 12px;
    width: 50px;
    outline: 1px solid black;
    margin-bottom: 3px;
    background-color: tomato;
}

.label{
    margin: 0;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
}